:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
}

@media (min-width: 1281px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
}
